<div class="upper-part">
	<h1>
		ギャルの写真
		平成ギャル図鑑
		スライドさせる
	</h1>
	<p>
		前書き
	</p>
	<p>
		平成のギャルを振り返り、
		あなたの好きなギャルを投稿しよう
	</p>
	<p>投稿リンク</p>
</div>
<div class="lower-part">
	<div>
		<p><%= link_to "90年代のギャル", "#" %>をみてみる</p>
		<ul>
			<li><img class="90-gal-01" src="/tatsuya.jpg"></li>
			<li><img class="90-gal-02" src="/tatsuya.jpg"></li>
			<li><img class="90-gal-03" src="/tatsuya.jpg"></li>			
		</ul>
	</div>
	<div>
		<p><p><%= link_to "00年代のギャル", "#" %>をみてみる</p></p>
		<ul>
			<li><img class="00-gal-01" src="/matsuoka.jpg"></li>			
			<li><img class="00-gal-02" src="/matsuoka.jpg"></li>			
			<li><img class="00-gal-03" src="/matsuoka.jpg"></li>			
		</ul>
	</div>
	<div>
		<p><p><%= link_to "10年代のギャル", "#" %>をみてみる</p></p>
		<ul>
			<li><img class="10-gal-01" src="/tatsuya.jpg"></li>
			<li><img class="20-gal-02" src="/tatsuya.jpg"></li>
			<li><img class="30-gal-03" src="/tatsuya.jpg"></li>			
		</ul>
	</div>
</div>