<div class="upper-part">
	<h1>
		平成ギャル図鑑
	</h1>
		<div class="cp_cssslider">
			<div class="cp_slidewrapper">
				<div class="cp_slide_item"><img src="itoh.jpg"></div>
				<div class="cp_slide_item"><img src="tapi.jpg"></div>
				<div class="cp_slide_item"><img src="atui.jpg"></div>
				<div class="cp_slide_item"><img src="tatsuya.jpg"></div>
				<div class="cp_slide_item"><img src="matsuoka.jpg"></div>
			</div>
		</div>
	
	<div class='posts_button'>
		<a class='btn-square-shadow' href='/posts/new' role='button'>投稿してみる</a>
	</div>

</div>

<div class="lower-part">
	<div>
		<p><%= link_to "うける", "#" %></p>
		<ul>
			<li><img class="90-gal-01" src="/itoh.jpg"></li>
			<li><img class="90-gal-02" src="/itoh.jpg"></li>
			<li><img class="90-gal-03" src="/itoh.jpg"></li>			
		</ul>
	</div>
	<div>
		<p><%= link_to "やばい", "#" %></p>
		<ul>
			<li><img class="00-gal-01" src="/atui.jpg"></li>			
			<li><img class="00-gal-02" src="/atui.jpg"></li>			
			<li><img class="00-gal-03" src="/atui.jpg"></li>			
		</ul>
	</div>
	<div>
		<p><%= link_to "あげみ", "#" %></p>
		<ul>
			<li><img class="10-gal-01" src="/tapi.jpg"></li>
			<li><img class="20-gal-02" src="/tapi.jpg"></li>
			<li><img class="30-gal-03" src="/tapi.jpg"></li>			
		</ul>
	</div>
</div>
