<div id="index-banner" class="parallax-container">
	
		<div class="parallax"><img src="/free_gal_dark.png" class=""></div>
		<div class="section no-pad-bot">
			<div class="container">
				<div class="title">
					<h1>平成ギャル図鑑</h1>
				</div>
				<div id="css-slider">
					<div class="slider-wrapper">
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"><</div>
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"><</div>
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"><</div>
					</div>
				</div>
				
				<div class="btn-component">
					<a class='waves-effect waves-light btn' href='/posts/new' role='button'>投稿してみる</a>
				</div>

			</div>
		</div>
</div>

<div class="lower-part">
	<div class="container">
		<div class="groupe">
        	<p><%= link_to "うける", "#" %></p>
		
			<ul class="example">
				<li><img class="90-gal-01" src="/itoh.jpg"></li>
				<li><img class="90-gal-02" src="/itoh.jpg"></li>
				<li><img class="90-gal-03" src="/itoh.jpg"></li>	
				<li><img class="90-gal-03" src="/itoh.jpg"></li>			
			</ul>
		</div>
		<div class="groupe">
			<p><%= link_to "やばい", "#" %></p>
			<ul class="example">
				<li><img class="90-gal-01" src="/itoh.jpg"></li>
				<li><img class="90-gal-02" src="/itoh.jpg"></li>
				<li><img class="90-gal-03" src="/itoh.jpg"></li>	
				<li><img class="90-gal-03" src="/itoh.jpg"></li>			
			</ul>
		</div>
		<div class="groupe">
			<p><%= link_to "あげみ", "#" %></p>
			<ul class="example">
				<li><img class="90-gal-01" src="/itoh.jpg"></li>
				<li><img class="90-gal-02" src="/itoh.jpg"></li>
				<li><img class="90-gal-03" src="/itoh.jpg"></li>	
				<li><img class="90-gal-03" src="/itoh.jpg"></li>			
			</ul>
		</div>
	</div>
</div>
