
<div id="index-banner" class="parallax-container">
	
		<div class="parallax"><img src="/free_gal_dark.png" class=""></div>
		<div class="section no-pad-bot">
			<div class="container">
				<div class="title">
					<h1>平成ギャル図鑑</h1>
					<p>これマジぅける ゎら</p>
					<div class="btn-component">
						<a class='waves-effect waves-light btn' href='/posts/new' role='button'>とぅこぅしてみる？</a>
					</div>
				</div>
				<div id="css-slider">
					<div class="slider-wrapper">
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"></div>
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"></div>
						<div class="slide-item"><img class="90-gal-01" src="/itoh.jpg"></div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="lower-part">
	<div class='container'>
		<h1>ギャルは、素晴らしい。</h1>
			<div id='text_box'>
				<p>平成という時代。</p>
				<p>バブル崩壊、リーマンショック、幾度の大災害。</p>
				<p>疲弊する大人、希望を失う若者。</p>

				<p>そんな中、ギャルは力強く生きてきた。</p>

				----------------------------------------

				<p>日本が世界に誇るギャルカルチャー。</p>
				<p>ファッション、言葉、マインド。</p>
				<p>彼女たちは我々の暮らしに光を与えてくれた。</p>
				<p>さぁ、あなたの好きな平成ギャルを、後世に語り継ごう。</p>
					<div class="btn-component">
						<a class='waves-effect waves-light btn' href='/posts/new' role='button'>好きなギャルを投稿する</a>
					</div>
			</div>
	</div>
  <div id="container">
    <div class="item"><img src="/gyaru/img_0.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_1.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_2.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_4.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_5.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_6.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_7.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_8.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_9.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_10.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_11.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_12.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_13.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_14.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_15.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_16.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_17.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_18.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_19.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_20.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_21.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_22.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_23.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_24.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_25.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_26.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_27.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_28.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_29.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_31.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_32.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_33.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_34.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_35.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_36.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_37.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_38.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_39.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_40.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_41.jpg" width="200"></div>
    <div class="item"><img src="/gyaru/img_42.jpg" width="200"></div>
  </div>
  <script>
$(function(){
$('#container').masonry({ //ここには敷き詰めたい要素を囲うidなど指定します。
itemSelector : '.item'  //ここに敷き詰めたい要素のclassを指定します。
});
});
</script>
</div>
